<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.4.3" targetFramework="net471" />
  <package id="log4net" version="2.0.12" targetFramework="net471" />
  <package id="Metrolib" version="0.3.0.162" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="System.Threading.Extensions" version="2.0.72" targetFramework="net471" />
  <package id="Tailviewer.Api" version="1.0.0.33-beta" targetFramework="net471" />
</packages>